@model TheCoreBanking.Retail.Data.Models.TblTellerlimit

<div class="card">
    <div class="card-header text-center">
        @*<h4 class="card-title">Teller Limit</h4>*@
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card card-plain">
                <div class="card-body">
                    <div id="teller-toolbar">
                        <button class="btn btn-danger" id="btnAddTellerLimit"
                                onclick="openTellerModal()">
                            <i class="now-ui-icons ui-1_simple-add"></i>
                            Add Teller Limit
                        </button>
                    </div>
                    <table id="tellerTable" data-toggle="table"
                           data-url="@Url.Action("listTellerLimit", "TellerAndTill")"
                           data-search="true" class="data-table"
                           data-toolbar="#teller-toolbar"
                           data-search-align="right" data-detail-view="true"  
                           data-show-pagination-switch="true"
                           data-mobile-responsive="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-buttons-class="danger"
                           data-show-export="true"
                           data-striped="true table-hover"                         
                           data-detail-formatter="utility.tellerLimitTableFormatter">
                        <thead>
                            <tr>
                                <th data-field="operationtype.operationname" data-sortable="true">Operation Type</th>

                                <th data-field="maxamount" data-formatter="maxamtFormatter">Max Amount</th>
                                <th data-field="minamount" data-formatter="minamtFormatter">Min Amount</th>
                               
                                <th data-events="tellerEvents" data-formatter="editFormatter"
                                    data-align="center" data-width="5%"></th>
                                <th data-events="tellerEvents" data-formatter="deleteFormatter"
                                    data-align="center" data-width="5%"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="AddNewTeller" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title text-primary">               
                    <span id="tellerTitle">New</span> Teller Limit
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col">
                            <form id="frmTellerLimit">
                                <input type="hidden" name="id" id="id" />
                                <input type="hidden" name="companyid" id="companyid" />
                                <input type="hidden" name="branchid" id="branchid" />

                                <div class="row">
                                    <div class="col-md-12 pl-1">
                                        <div class="form-group">
                                            <label>Operation Type :</label>
                                            <select name="operationtypeid" required id="operationtypeid"
                                                    class="form-control">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Maximum Amount Limit :</label>
                                            <input name="maxamount" required id="maxamount" type="number" class="form-control" placeholder="Enter the Maximum Limit a teller can post" onblur="convertAmount()">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                        <div class="form-group">
                                            <label>Minimum Amount Limit :</label>
                                            <input name="minamount" required id="minamount" type="number" class="form-control" placeholder="Enter the Minimum Limit a teller can post" onblur="convertAmount()">
                                        </div>
                                    </div>
                                </div>
                                                               


                                <div class="row mt-4 justify-content-between">
                                    <div class="col">
                                        @*<button class="btn btn-danger btn-wd pull-left" type="reset">Clear</button>*@
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-danger btn-wd pull-right" type="button"
                                                id="btnAddTeller" onclick="AddTellerLimit()">
                                            Save Record
                                        </button>
                                        <button class="btn btn-danger btn-wd pull-right" type="button"
                                                id="btnTellerUpdate" onclick="updateTellerLimit()">
                                            Update Record
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>