<div class="card card-plain">
    <div class="card-header text-center">
        <h4 class="card-title">Cheque Type Setup</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card card-plain">
                <div class="card-body">
                    <div id="cheque-type-toolbar">
                        <button class="btn btn-danger" id="btnDraftSetup"
                                onclick="openNewChequeModal()">
                            <i class="now-ui-icons ui-1_simple-add"></i>
                            Add Cheque Type
                        </button>
                    </div>
                    <table id="cheque-type-table" data-toggle="table"
                           data-url="@Url.Action("LoadChequeTypes", "Setup")"
                           data-search="true" class="data-table"
                           data-toolbar="#cheque-type-toolbar"
                           data-search-align="right" 
                           data-detail-formatter="utilities.chequeTypeTableFormatter"
                           data-show-pagination-switch="true"
                           data-mobile-responsive="true"
                           data-show-refresh="true" data-detail-view="true"
                           data-show-toggle="true" data-unique-id="id"
                           data-buttons-class="danger">
                        <thead>
                            <tr>
                                <th data-field="chequetype" data-sortable="true">Cheque Type</th>
                                <th data-field="charge" data-align="right">Charge</th>
                                <th data-field="leavesno" data-sortable="true" data-align="right">Leaves</th>
                                <th data-field="isdeleted" data-sortable="true"  data-align="center"
                                    data-formatter="utilities.chequeTypeActiveFormatter">Active</th>
                                <th data-formatter="utilities.editChequetypeFormatter"
                                    data-align="center" data-width="5%"></th>
                                <th data-formatter="utilities.deleteChequetypeFormatter"
                                    data-align="center" data-width="5%"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add modal and forms here -->
<div id="chequeTypeModal" class="modal fade" role="dialog" data-keyboard="false"
     aria-hidden="true" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="card-title text-primary font-weight-bold w-100 ml-2 mb-3">
                    <span id="chequeTypeHeader">New</span> Cheque Type
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col">
                            <form id="frmChequeType">
                                <input type="hidden" name="id" id="id" />
                                <div class="row mb-2 required">
                                    <label class="col-md-3 col-form-label">ChequeBook Type</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input name="chequetype" required id="chequetype"
                                                   type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label class="col-md-3 col-form-label">Charge</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input name="charge" id="charge"
                                                   type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2 required">
                                    <label class="col-md-3 col-form-label">No. of Leaves</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input name="leavesno" required id="leavesno"
                                                   type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2 required">
                                    <label class="col-md-3 col-form-label">Credit Ledger</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <select name="creditledger" required id="creditledger"
                                                    class="form-control" >
                                                 <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label class="col-md-3 col-form-label">Remark</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <textarea name="remark" id="remark" 
                                                      class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label class="col-md-3 col-form-label">Active</label>
                                    <div class="col-md-9 mb-3">
                                        <div class="form-check pl-0">
                                            <label class="form-check-label">
                                                <input name="isdeleted" class="form-check-input"
                                                       type="checkbox" id="isdeleted">
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4 justify-content-between">
                                    <div class="col">
                                        <button class="btn btn-danger btn-wd pull-left" type="reset">Clear</button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-danger btn-wd pull-right" type="button"
                                                id="btnAddChequeType" onclick="AddChequeType()">
                                            Save
                                        </button>
                                        <button class="btn btn-danger btn-wd pull-right" type="button"
                                                id="btnUpdateChequeType" onclick="UpdateChequeType()">
                                            Update
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>