<div class="card card-plain">
    <div class="card-header text-center">
        <h4 class="card-title">System Narration Setup</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card card-plain">
                <div class="card-body">
                    <div id="system-narration-toolbar">
                        <button class="btn btn-danger"
                                onclick="openNewNarrationModal()">
                            <i class="now-ui-icons ui-1_simple-add"></i>
                            New System Narration
                        </button>
                    </div>
                    <table id="system-narration-table" data-toggle="table"
                           data-url='@Url.Action("LoadSystemNarrations", "Setup")'
                           data-search="true" class="data-table"
                           data-toolbar="#system-narration-toolbar"
                           data-search-align="right" data-pagination="true"
                           data-show-pagination-switch="true"
                           data-mobile-responsive="true"
                           data-show-refresh="true"
                           data-show-toggle="true" data-unique-id="id"
                           data-buttons-class="danger">
                        <thead>
                            <tr>
                                <th data-field="charge" data-align="right"
                                    data-formatter="FormatMoney">Stamp Duty Charge Amount</th>
                                <th data-field="isdefault" data-align="center"
                                    data-formatter="">Is Default</th>
                                <th data-formatter="editFormatter" data-events="systemNarrationEvents"
                                    data-align="center" class="edit py-3" data-width="10%"></th>
                                <th data-formatter="deleteFormatter" data-events="systemNarrationEvents"
                                    data-align="center" class="remove py-3" data-width="10%"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add modal and forms here -->
<div id="system-narration-modal" class="modal fade" role="dialog" data-keyboard="false"
     aria-hidden="true" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="card-title text-primary font-weight-bold w-100 ml-2 mb-3">
                    <span id="system-narration-header"></span> System Narration
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col">
                            <form id="system-narration-form" method="post">
                                <input type="hidden" name="id" id="id" />
                                <input type="hidden" name="datecreated" id="datecreated" />
                                <input type="hidden" name="createdby" id="createdby" />
                                <div class="row mb-2">
                                    <label class="col-md-2 col-form-label">Narration</label>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <input name="text" id="text" type="text"
                                                   class="form-control" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label class="col-md-2 col-form-label">Default</label>
                                    <div class="col-md-10 mb-3">
                                        <div class="form-check pl-0">
                                            <label class="form-check-label">
                                                <input name="isdefault" class="form-check-input"
                                                       type="checkbox" id="isdefault">
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4 justify-content-between">
                                    <div class="col">
                                        <button class="btn btn-danger btn-wd pull-left" type="reset">Clear</button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-danger btn-wd pull-right" type="button"
                                                id="btn-add-system-narration" onclick="AddSystemNarration()">
                                            Save
                                        </button>
                                        <button class="btn btn-danger btn-wd pull-right" type="button"
                                                id="btn-update-system-narration" onclick="UpdateSystemNarration()">
                                            Update
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>