@model TheCoreBanking.Retail.Data.Models.TblTransfercharge

<div class="card card-plain">
    <div class="card-header text-center">
        <h4 class="card-title">Transfer Charges</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card card-plain">
                <div class="card-body">
                    <div id="transfercharges-toolbar">
                        <button class="btn btn-danger" id="btnAddTransferCharges"
                                onclick="openchargesModal()">
                            <i class="now-ui-icons ui-1_simple-add"></i>
                            Add Transfer Charges
                        </button>
                    </div>
                    <table id="chargeTable" class="data-table"
                           data-url="@Url.Action("ListTransferCharges", "Setup")">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add modal and forms here -->
<div id="AddNewcharges" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="card-title text-primary font-weight-bold w-100 ml-3 mb-3">
                    <span id="transferChargesTitle">New</span> Transfer Charges
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col">
                            <form id="frmCharges">
                                <input type="hidden" name="transferchargeid" id="transferchargeid" />                               
                                <input type="hidden" name="deletedby" id="deletedby" />
                                <input type="hidden" name="createdby" id="createdby" />                              
                                <input type="hidden" name="datetimecreated" id="datetimecreated" />                            
                                <div class="row mb-2 required">
                                    <label class="col-md-4 col-form-label">Min Amount</label>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input name="minamount" required id="minamount"
                                                   type="text" class="form-control" onchange="getFieldInputValue(this)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2 required">
                                    <label class="col-md-4 col-form-label">Max Amount</label>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input name="maxamount" required id="maxamount"
                                                   type="text" class="form-control" onchange="getFieldInputValue(this)"  />
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2 required">
                                    <label class="col-md-4 col-form-label">Credit Ledger </label>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <select name="chartofaccountid" required id="chartofaccountid"
                                                    class="form-control">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2 required">
                                    <label class="col-md-4 col-form-label">Charge Amount</label>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input name="amounttocharge" required id="amounttocharge"
                                                   type="text" class="form-control" onchange="getFieldInputValue(this)"  />
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-4 justify-content-between">
                                    <div class="col">
                                        <button class="btn btn-danger btn-wd pull-left" type="reset">Clear</button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-danger btn-wd pull-right" type="button"
                                                id="btnAddcharge" onclick="AddTransferCharges()">
                                            Save Record
                                        </button>
                                        <button class="btn btn-danger btn-wd pull-right" type="button"
                                                id="btnchargeUpdate" onclick="UpdateTransferCharges()">
                                            Update Record
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>